@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* 
------ 
Variables 
------
*/

:root {
  --darkShadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --borderRadius: 10px;
  --mainTransition: transform 0.3s;

  --textClr: #eeefe7;
  --largeFont: 5rem;
  --smallFont: 2rem;
}

/* 
TODO:

.dark-theme {
}

.light-theme {
} 
*/

/* 
------ 
Global Styles 
------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka One", cursive;

  background: linear-gradient(
    90deg,
    rgba(32, 64, 69, 1) 0%,
    rgba(33, 38, 69, 1) 100%
  );

  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #9cacbf;
}

a {
  text-decoration: none;
  color: var(--textClr);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

::selection {
  background: #364f83;
}

.btn {
  /* animation: pulse 2s ease infinite; */
  transition: var(--mainTransition);
  box-shadow: var(--darkShadow);
  border-radius: var(--borderRadius);

  background-color: #35504f;
  color: var(--textClr);

  padding: 20px;
  margin: 10px;

  border: none;
  outline: none;
  cursor: pointer;

  font-family: "Fredoka One", cursive;
  font-size: var(--smallFont);
}

.btn:hover {
  transform: scale(1.1);
}

.input {
  transition: var(--mainTransition);
  box-shadow: var(--darkShadow);
  border-radius: var(--borderRadius);

  background-color: #c5cada;

  padding: 25px;
  margin: 30px;

  border: none;
  outline: none;

  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: var(--smallFont);
}

.input:hover {
  transform: scale(1.1);
}

.modal {
  animation: zoom 3.1s ease;

  color: #d14d4a;
  margin: 20px;
}

.center {
  margin: 0 auto;
  margin-top: 4vh;

  max-width: 1500px;

  text-align: center;
}

/* 
------ 
Menu
------
*/

.menu h1 {
  font-size: 3.5rem;

  margin: 50px;
}

.menu .menu-buttons {
  display: inline-flex;
  flex-wrap: wrap;

  justify-content: center;

  max-width: 500px;
}

/*
------ 
Join Game
------
*/

.join-game {
  max-width: 500px;
}

/* 
------ 
Find Game
------
*/

.open-game {
  transition: var(--mainTransition);

  max-width: 200px;
  margin: 0 auto 20px;
  padding: 20px;

  font-size: 1.3rem;

  color: #c5cada;
  background: #35504f;
  box-shadow: var(--darkShadow);
  border-radius: var(--borderRadius);

  cursor: pointer;
}

.open-game:hover {
  transform: scale(1.1);
}

/* 
------ 
Game Lobby/Game
------
*/

.game {
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-group {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background: rgba(0, 0, 0, 0.3);
  box-shadow: var(--darkShadow);
  border-radius: var(--borderRadius);
  padding: 30px;
  margin: 10px;
}

.card {
  transition: box-shadow 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 150px;
  min-height: 250px;
  margin: 10px;
  padding: 10px;

  background: #35504f;
  box-shadow: var(--darkShadow);
  border-radius: var(--borderRadius);

  cursor: pointer;
  user-select: none;
}

.card.selected {
  /* border: 5px solid #eaedc2; */
  box-shadow: 0px 0px 12px aqua;
}

.card h2 {
  font-size: var(--largeFont);
}

.card.deck.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* .card.dragging {
  opacity: 0.5;
}

.card.over {
  opacity: 0.8;
}

.card.deck {
  cursor: auto;
} */

.players {
  display: inline-flex;
  flex-wrap: wrap;

  margin: 20px;
}

.players .player {
  transition: background 0.3s;
  min-width: 200px;
  margin: 10px;
  padding: 10px;

  color: #c5cada;
  background: #35504f;
  box-shadow: var(--darkShadow);
  border-radius: var(--borderRadius);
}

.players .player.pressed {
  background: #537e53;
}

.players .player .score {
  max-width: 70px;

  margin: 5px;
  padding: 5px;

  background: #054d54;
  border-radius: var(--borderRadius);
}
